In [3]:
import pandas as pd
import numpy as np
import textdistance
import re
from collections import Counter

In [11]:
words = []
with open('book.txt','r') as f:
  file_name_data = f.read()
  file_name_data = file_name_data.lower()
  words = re.findall('\w+',file_name_data)

V = set(words)
print(f"Top ten words in the text are:{words[0:10]}")
print(f"Total Unique words are {len(V)}")

Top ten words in the text are:['the', 'project', 'gutenberg', 'ebook', 'of', 'moby', 'dick', 'or', 'the', 'whale']
Total Unique words are 17647

In [12]:
word_freq = {}  
word_freq = Counter(words)
print(word_freq.most_common()[0:10])

[('the', 14703), ('of', 6742), ('and', 6517), ('a', 4799), ('to', 4707), ('in', 4238), ('that', 3081), ('it', 2534), ('his', 2530), ('i', 2120)]

In [13]:
probs = {}
Total = sum(word_freq.values())
for k in word_freq.keys():
  probs[k] = word_freq[k]/Total

In [15]:
def my_autocorrect(input_word):
    input_word = input_word.lower()
    if input_word in V:
        return('Your word seems to be correct')
    else:
        sim = [1-(textdistance.Jaccard(qval=2).distance(v,input_word)) for v in word_freq.keys()]
        df = pd.DataFrame.from_dict(probs, orient='index').reset_index()
        df = df.rename(columns={'index':'Word', 0:'Prob'})
        df['Similarity'] = sim
        output = df.sort_values(['Similarity', 'Prob'], ascending=False).head()
        return(output)

In [18]:
my_autocorrect('beautful')

            Word      Prob  Similarity
4137   beautiful  0.000036    0.666667
10134     beauty  0.000036    0.500000
16786     fitful  0.000009    0.333333
1542      artful  0.000004    0.333333
5365     fearful  0.000054    0.300000